@import '../styles/custom';
@import '~bootstrap/scss/bootstrap';

// OpenSans suppport
$FontPathOpenSans: '~npm-font-open-sans/fonts';
@import '~npm-font-open-sans/open-sans';

// FontAwesome
$fa-font-path: '~font-awesome/fonts';
@import '~font-awesome/scss/font-awesome.scss';

// Colors
$text: #FFFFFF;

$border: #68217A;

html {
    overflow: hidden;
}

body {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-flow: column;
}

#window,
#window .content,
#window .content * {
    display: flex;
    flex-flow: column;
    flex: 1;
}

#content {
    background-color: #202020;
    display: flex;
    flex-direction: column;
    flex: 1;
}

// .text {
//     align-content: center;
//     text-align: center;
// }

// .router-view {
//     position: absolute;
//     margin-left: 3em;
//     padding: 1em;
// }

.login-router-view {
    padding: 1em;
}
